{% extends "blog/base.html"%}
{% block content %}
    <h1> About this Blog</h1>
    <div class='content-section'>
    	This is a Blog Application Created using Django Framework along with Bootstrap and CSS.<br>
    	It Supports the Following Functionality
    	<ul>
    		<li>Create, Update and Delete Posts</li>
    		<li>Edit/Update User Profile</li>
    		<li>Sort Blogs by User</li>
    		<li>Social Login Via Google</li>
    		
    	</ul>	

    	Notable Technologies/Frameworks
    	<ul>
    		<li>Python - Django Framework</li>
    		<li>HTML5 and CSS</li>
    		<li>Bootstrap</li>
    		<li>SocialAuth - Google OAUTH</li>
    		<li>Amazon S3 Storage</li>
    		
    	</ul>

    	This website has been deployed using
    	<ul>
    		<li>Amazon EC2 Instance</li>
    		<li>Apache2</li>
    	</ul>

    	Github Repository for this project can be found <a href="https://github.com/dpsingh287/dpblog">here</a><br>
    	The Deployed website can be accessed <a href="http://ec2-65-1-108-97.ap-south-1.compute.amazonaws.com/">here</a>
	</div>
</body>
</html>
{% endblock content %}
<!DOCTYPE html>
<html lang="en">
