{% extends "blog/base.html" %}
{%load crispy_forms_tags%}


{% block content %}
{% load socialaccount %}
    {% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{ user.username }}</p>
    {% else %}
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>
            </div>  
            
        </form>
         <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button class=class="hollow button primary rounded" type="submit" >
                <img width="15px" style="margin-bottom:3px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    Sign in with Google
            </button>
        </form> 

        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
    
    {% endif %}
{%endblock content %}